@import url('https://fonts.cdnfonts.com/css/threat');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'FontQueen';
    src: url('Cinzel-Bold.ttf') format('truetype');
    
    }

*{
    padding: 0px;
    margin: 0px;
    user-select: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{/* scrollbar personalizada */
    width: 10px;
  }
::-webkit-scrollbar-thumb{
    background-color:#c4a81c;    ;
    width: 7px;
    border-radius: 6px;
  }

body{
    overflow-x:hidden;
    background: #f6d323 ;
}

nav{
    background: white;
    width: 100%;
    height: 7rem;
    box-shadow: 1px 1px 15px black;
    display: flex;
    justify-content: end;
}

nav ul{
    display: flex;
    margin-top: 2rem;
}

li{
    list-style-type: none;
}

nav ul li{
    margin-top: 15px;
    width: 150px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    position: relative;

}

nav ul{
    padding: 0px;
    font-size: 15px;
    z-index: 3;
    
}

h6{
    list-style-type:armenian;
    text-align: center;
    color: black;
}

nav ul ul{
    display: none;
    margin-top: -3px;
    background-color: white;
    border-radius: 3px;
    justify-content: center;
}

nav ul li:hover > ul {
    display: block;
    
}

a{
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin-right: 30px;

}

.headermarktext{
    color:#f6d323;
    text-decoration: underline;
    margin-right: 30px;
}

.titulo{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 50px;
    font-family: 'FontQueen', sans-serif;
    text-decoration: underline;
    position: absolute;
}

.subtitulo{
    font-size: 40px;
    margin-top: 75px;
    margin-left: 30px;
    padding-bottom: 30px;
    font-family: 'Threat', sans-serif;
    position: absolute;
}

.direito{
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: white;
    position: absolute;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.seta{
    position: absolute;
    right: 5px;
    bottom: 3px;
    margin-right: 20px;
    transition: 1s;
}

.seta:hover{
    transform: scale(1,1.3);
}

hr{
    height: 5px;
    margin-top: 75vh;
}

.logo{
    top: 5px;
    left: 15px;
    position: absolute;
}

.obrastabela{
    margin-top: 150px;
    align-content: center;
    border-radius: 8px;
    box-shadow: 3px 3px 10px black;
    text-align: center;
    align-items: center;

}

table tr td{
    padding: 5px;
}


.pagina1{
    width: 100%;
    height: 100vh;
    background: #f6d323 ;
}

.pagina2{
    width: 100%;
    height: 100vh;
    background:rgb(243, 243, 243);
}

.pagina3{
    width: 100%;
    height: 100vh;
    background: #f6d323;
}




/* PÁGINA HOME começo*/


.homebox{
    width: 1000px;
    height: 600px;
    left: 50%;
    margin-top: 50px;
    border-radius: 7px;
    position: absolute;
    background: whitesmoke;
    box-shadow: 3px 3px 5px black;
    transform: translate(-50%);
}

.fotohome{
    width: 300px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    border-radius: 7px;
    position: absolute;
}

.titulohomebox{
    font-size: 50px;
    margin-top: 50px;
    margin-left: 350px;
    font-family: 'Threat', sans-serif;
    position: absolute;
}

.textohomebox{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 25px;
    position: absolute;   
}

/* PÁGINA HOME fim*/



/* PÁGINA HISTORIA começo*/

.textohistoria{
    max-width: 1100px;
    font-size: 25px;
    margin-top: 110px;
    margin-left: 30px;
    margin-right: 25px;
    text-align: justify;
    position: absolute; 
}

.fotohistoria{
    top:230px;
    right: 75px;
    position: absolute;
    width: 600px;
    height: 450px;
    border-radius: 7px;
    transition: 1s;
}


.fotohistoria:hover{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.2);
}

.fotohistoria2{
    top:110vh;
    right: 75px;
    position: absolute;
    width: 600px;
    height: 450px;
    border-radius: 7px;
    transition: 1s;
    filter: saturate(0);
}

.fotohistoria2:hover{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.2);
}

.fotohistoria3{
    top:210vh;
    right: 75px;
    position: absolute;
    width: 600px;
    height: 450px;
    border-radius: 7px;
    transition: 1s;
}

.fotohistoria3:hover{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.2);
    
}


.direitohistoria{
    bottom: -300;
    width: 100%;
    height: 3rem;
    background: white;
    position: absolute;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.hr2{
    background: #f6d323;
    height: 7px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 90vh;
    position: absolute;
    z-index: 1;
}

.hr3{
    background: white;
    height: 7px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 95vh;
    position: absolute;
    z-index: 1;
}

/* PÁGINA HISTORIA fim*/




/* PÁGINA OBRAS começo*/
.textoobras{
    max-width: 1100px;
    font-size: 25px;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 25px;
    text-align: justify;
    position: absolute; 
}
/* PÁGINA OBRAS fim*/



/* PÁGINA GALERIA começo*/


.Galeria, .momento{
    display: inline-block;
    box-sizing: border-box;
    margin-right: 50px;
}
.galeriaimagens{
    display: inline-block;
    align-items: center;
    display: flex;
    align-content:center;
    
}

.imggaleria{
    margin-top: 15px;
    width: 200px;
    height: 200px;
    margin-left: 75px;
    border-radius: 7px;
    transition: 1s;

}

.imggaleria:hover{
    box-shadow: 3px 3px 5px black;
    transform: scale(1.5);
}

.subtitulogaleria{
    font-size: 40px;
    margin-top: 75px;
    margin-left: 75px;
    font-family: 'Threat', sans-serif;
}

.direitogaleria{
    bottom: 300;
    margin-top: 50px;
    width: 100%;
    height: 3rem;
    background: white;
    position: absolute;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* PÁGINA GALERIA fim*/

/* PÁGINA CONTATO começo*/

.boxcontato{
    width: 1000px;
    height: 600px;
    left: 50%;
    margin-top: 50px;
    border-radius: 7px;
    position: absolute;
    background: whitesmoke;
    box-shadow: 3px 3px 5px black;
    transform: translate(-50%);
}

.tituloboxgaleria{
    font-size: 50px;
    margin-top: 25px;
    margin-left: 200px;
    font-family: 'Threat', sans-serif;
    position: absolute;
}

.textoboxgaleria{
    font-size: 25px;
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 25px;
    position: absolute;   
}


form{
    margin-top: 100px;
    margin-left: 50px;
}

textarea {resize: none;}   /*TEXT AREA INICIO */
p{
    text-align: justify;
    border-radius: 50%;
    text-indent: 35px;
}

textarea{
    width: 500px;
    height:100px;
    background: white ;
}
input{
    height: 50px;
    width: 500px
}
button{
    margin-top: 5px;
    font-size: 15px;
    border-radius: 5px;
    background: white ;
    height: 30px;
    width: 150px;
    transition: 0.5s;
}
button:hover{
    background: greenyellow;
}

.limpar input{
    margin-top: 5px;
    font-size: 15px;
    border-radius: 5px;
    background: white ;
    height: 30px;
    width: 150px;
    transition: 0.5s;
    
}

.limpar input:hover{
    background: red;
}

input, select, textarea{ /*BOTOES E OPÇÕES*/
    border-color: #000000;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    padding: 3px;
    margin-top: 5px;
    position: relative;
    display: inline-block;
    }

input:hover, select:hover, textarea:hover{ /* animação BOTOES E OPÇÕES*/
transform: scale(1.05);
}

.fotocontato{
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: 625px;
    margin-bottom: 30px;
    position: absolute;

}
/* PÁGINA CONTATO fim*/